*{
  margin: 0;
  padding: 0;
}
.sidebar {
    width: 200px;
    background-color: #D32F2F;
    height: 100vh;
    padding: 20px 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    color: white;
    padding: 7px 0;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .sidebar ul li:hover {
    background-color: #C1272D;
  }
  