
.invoiceContainer {
  display: flex;

}

.redDashboardContainer {
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  color: white;
  padding-top: 20px;
}

.redDashboardItems {
  padding: 8px 5px;
}

.mainInvoiceContainer {
  background-color: #e8e8e6;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.topButtons, .middleInputs, .redButtonsContainer{
  text-align: left;
}
.topButtons button, .middleInputs input, .leftInputs input, .leftInputs button {
  padding: 8px 12px;
  margin: 4px 8px;
  width: 100px;
  background-color: white;
}

.redButtonsContainer button {
  background-color: red;
  color: white;
  padding: 8px 12px;
  margin: 4px 8px;
}

.lastInputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightInputs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.invoiceTable table {
  border-collapse: collapse;
  width: 100%;
}

.invoiceTable th {
  border: 2px solid black;
  padding: 8px;
  text-align: center;
}

.invoiceTable td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  border-top: hidden;
  border-top: hidden;
}

.invoiceTable th {
  background-color: white;
}

.invoiceTable td {
  background-color: #e8e8e6;
}
