.invoiceContainer {
    display: flex;
  
  }
  .fix{
    display: flex;
  }
  .redDashboardContainer {
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    color: white;
    padding-top: 20px;
  }
  
  .redDashboardItems {
    padding: 8px 5px;
  }
  
  .mainInvoiceContainer {
    background-color: rgb(219, 218, 218);
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .topButtons button{
    color: black;
    background-color: white;
    border: 2px solid black;
    width: fit-content;
  }
  .middleInputs button{
    column-gap: 1cm;
    background-color: white;
    color: black;
    width: 5cm;
  }
  .middleInputs .but{
    column-gap: 1cm;
    background-color: white;
    color: black;
    width: fit-content;
    display: block;
    height: 0.8cm;
    border: 1px solid black;
  }
  .topButtons, .middleInputs, .redButtonsContainer{
    text-align: left;
  }
  .middleInputs{
    margin-top: 6px;
    margin-left: 4px;
  }
  .redButtonsContainer button {
    background-color: red;
    color: white;
    padding: 8px 12px;
    margin: 4px 8px;
  }
  
  .lastInputContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .leftInputs button{
    color: black;
  }
  .rightInputs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
.gift-card-settings {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  td {
    border: 2px solid black;
    padding: 10px;
    background-color: #f0f0f0;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
  }
  
  input[type="checkbox"] {
    margin-left: 10px;
  }
  
  tr:nth-child(odd) {
    background-color: #e0e0e0;
  }
  
  tr:nth-child(even) {
    background-color: #f0f0f0;
  }
  